<!DOCTYPE html>
<html lang="en">
<head>
    <title>To do list app</title>
    <link rel="stylesheet" href="../static/bootstrap-4/css/bootstrap.min.css">
</head>
<body>
    <!-- Header -->
    <div class="jumbotron" style="margin-bottom: 0">
        <a class="navbar-brand" href="/">
            <img src="../static/imgs/logoBVU.png" alt="logo" style="height: 100px">
        </a>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signIn">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/signUp">Sign Up</a>
            </li>
        </ul>
    </nav>
    <!-- end header -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
            <strong>Error:</strong> [{{ message }}]
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <!-- Footer-->
    <div class="jumbotron text-center" style="margin-bottom: 0">
        <p>Copyright &copy;2020 by truong</p>
    </div>
    <!-- end footer-->

</body>
</html>